*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #222;
}
ul{
    list-style-type: none;
    display: flex;
}
ul li{
    border: 1px solid #222;
    width: 35px;
    height: 35px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    transform: rotate(45deg);
}
ul li i{
    transform: rotate(-45deg);
    font-size: 14px;
}

ul li:hover{
    background: radial-gradient(#666,#333);
    color: #eee;
}

